<div class="absolute top-0 left-0 w-full h-full -z-10 overflow-hidden">
   <img class="full-size" src="<%= image_path('background.jpg') %>" alt="background image">
</div>
<div class="full-size center-item text-white relative">

<span class="absolute left-16 top-16 flex flex-row justify-center items-center text-3xl pt-5"><img class="w-10 h-10" src="<%= image_path('Logos/logo-white-256x256.png') %>" alt="logo white"><%= link_to 'TraderMaster', root_path %></span>

  <div class="w-[50%] h-[50vh] center-item flex-col bg-white bg-opacity-25 backdrop-filter backdrop-blur-lg p-8 rounded-2xl shadow-lg">

<h2 class="text-[1.5rem] uppercase">Login</h2>

<% flash.each do |key, value| %>
  <div class=" alert alert-<%= key %> text-red-500">
    <%= value %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-black rounded-md" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"text-black rounded-md" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class:" focus:bg-green-700 rounded-md " %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions center-item h-[5vh] w-full pt-[1rem] ">
    <%= f.submit "Log in", class: "h-[5vh] w-[50%] border rounded-md hover:bg-white hover:bg-opacity-30" %>
  </div>
<% end %>


<div class="text-[0.8rem] hover:italic">
  <%= render "users/shared/links" %>
</div>
  
  </div>
  
</div>
