<table class="w-full border text-center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Share</th>
      <th>Average Price</th>
      <th>Transaction Cost</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
    </tr>
  </thead>
  <% if @stocks.empty? || @transactions.empty? %>
    <tbody></tbody>
  <% else %>
    <% @stocks.each do |s| %>
      <tbody>
        <tr>
          <% unless s.total_share == 0 %>
            <td><%= s.stock_symbol %></td>
            <td><%= s.total_share %></td>
            <% average = @transactions.where(stock_name: s.stock_symbol).average(:price)%>
            <td><%= number_to_currency(average, precision: 2) %> per share</td>
            <% total_cost =  @transactions.where(stock_name: s.stock_symbol).sum { |transaction| transaction.price * transaction.share } %>
            <td><%= number_to_currency(total_cost, precision: 2) %></td>
            <% current_value = s.total_share * @clients.price(s.stock_symbol)%>
            <td><%= number_to_currency(current_value, precision: 2) %></td>
            <% if current_value > total_cost %>
              <td class="text-green-600">Profit↑</td>
            <% else %>
              <td class="text-red-600">Loss↓</td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>