<table class="w-full border text-center">
  <thead>
    <tr>
      <th class="border">Name</th>
      <th class="border">Total Share</th>
      <th class="border">Average Price</th>
      <th class="border">Transaction Cost</th>
      <th class="border">Current Value</th>
      <th class="border">Profit/Loss</th>
    </tr>
  </thead>
  <% if @stocks.empty? || @transactions.empty? %>
    <tbody></tbody>
  <% else %>
    <% @stocks.each do |s| %>
      <tbody>
        <tr>
            <td class="center-item flex-col border border-gray-700"><%= s.stock_symbol %>
            <% company = @clients.company(s.stock_symbol)%>
            <span class="text-[0.7rem] text-gray-500"><%= company.company_name%></span></td>
            <td class="border border-gray-700 "><%= s.total_share %></td>
            <% average = @transactions.where(stock_name: s.stock_symbol).average(:price)%>
            <td class="border border-gray-700 "><%= number_to_currency(average, precision: 2) %> per share</td>
            <% total_cost = average * s.total_share%>
            <td class="border border-gray-700 "><%= number_to_currency(total_cost, precision: 2) %></td>
            <% current_value = s.total_share * @clients.price(s.stock_symbol)%>
            <td class="border border-gray-700 "><%= number_to_currency(current_value, precision: 2) %></td>
            <% if current_value > total_cost.to_f %>
              <td class="text-green-600 border border-gray-700">Profit↑</td>
            <% else %>
              <td class="text-red-600 border border-gray-700">Loss↓</td>
            <% end %>
          
            
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>