<table class="w-full border text-center">
        <thead>
          <tr>
            <th class="border ">Name</th>
            <th class="border ">Share</th>
            <th class="border ">Price</th>
            <th class="border ">Type</th>
            <th class="border ">Amount</th>
            <th class="border ">Time</th>
          </tr>
        </thead>
        <% if @transactions.empty? %>
          <tbody></tbody>
        <% else %>
          <% @transactions.each do |t| %>
            <tbody>
              <tr>
                <td class="border border-gray-700 "><%= t.stock_name %></td>
                <td class="border border-gray-700 "><%= t.share %></td>
                <td class="border border-gray-700 "><%=  number_to_currency(t.price, precision: 2) %></td>
                <% if t.is_buy == true %>
                  <td class="border border-gray-700 text-green-700">Buy</td>
                <% else %>
                  <td class="border border-gray-700 text-red-700">Sell</td>
                <% end %>
                <td class="border border-gray-700 "><%= number_to_currency(t.share * t.price, precision: 2) %></td>
                 <td class="border border-gray-700 w-1/5 py-2"><%= t.created_at.strftime("%a, %b %d, %Y %I:%M %p") %></td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>