<div class="absolute top-0 left-0 w-full h-full -z-10 overflow-hidden">
  <img class="full-size blur-md" src="<%= image_path('background.jpg') %>" alt="background image">
</div>
<div class=" w-full h-screen flex flex-col gap-[5rem] items-center overflow-auto scroll">
  <!-- #navbar -->
  <div class=" flex justify-between w-full text-white fixed z-10 primary-color border border-gray-700">
   <%= render 'pages/user/navbar' %>
  </div>
  <!-- #user-info -->
  <div class=" max-w-[90%] min-w-[90%] text-white flex flex-col gap-[4rem] mt-[5rem] ">
    <div class="w-full h-[50vh] border border-gray-700 center-item flex-row primary-color rounded-lg">
      <div class=" w-[30%] h-[50vh] center-item">
        <%= image_tag 'trader-img', class: "rounded-full w-[70%] h-[40vh]"%>
      </div>
      <div class="w-[70%] h-[50vh] flex justify-center flex-col p-[1rem] gap-2">
        <h1 class="text-[2rem] capitalize font-bold "> 👋 Hi! <%= current_user.email.split("@")[0]%></h1>
        <div class="w-[40%] flex flex-row justify-between">
          <%= link_to "Edit Profile", edit_user_registration_path , class:"block",  data: { turbo_frame: "modal"}, class:"w-[40%] h-[5vh] center-item bg-blue-700 font-bold rounded-md hover:bg-blue-500 truncate" %>
          <%= link_to "Deposit", deposit_transaction_path , class:"block",  data: { turbo_frame: "modal"}, class:"w-[40%] h-[5vh] center-item bg-blue-700 font-bold rounded-md hover:bg-blue-500 truncate" %>
        </div>
        <div class="flex flex-row h-[20vh] items-center gap-[3rem] ">
          <div class=" h-[14vh] w-[25%] rounded-md flex flex-col justify-center p-4 bg-orange-500 ">
            <h1 class="font-bold truncate text-[1rem] text-gray-300">Current Balance 💵</h1>
            <h1 class="text-[2.5rem] font-bold"><%= number_to_currency(current_user.balance, precision: 2) %></h1>
          </div>
          <% sum_values = @stocks.map { |s| s.total_share * @clients.price(s.stock_symbol)}.sum  %>
          <div class=" h-[14vh] w-[25%] rounded-md flex flex-col justify-center p-4 bg-blue-500 ">
            <h1 class="font-bold truncate text-[1rem] text-gray-300">Portfolio Value</h1>
            <h1 class="text-[2.5rem] font-bold"><%= number_to_currency(current_user.balance + sum_values , precision: 2) %> </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- #stocklist -->
    <div class="w-full max-h-[100vh] border border-gray-700 p-5 overflow-auto scroll flex flex-col gap-[1rem] primary-color rounded-lg">
      <h1 class="text-[1.5rem] font-semibold uppercase">Stocks Portfolio</h1>
      <%= render 'stocks/stock_list' %>
    </div>
    <!-- #transaction list -->
    <div class="w-full max-h-[60vh] border border-gray-700  p-5 flex flex-col gap-[1rem] mb-[5rem] primary-color rounded-lg">
      <h1 class="text-[1.5rem] font-semibold uppercase">Transaction History</h1>
      <div class="max-h-[50vh] overflow-auto scroll">
        <%= render 'stocks/transaction_history' %>
      </div>
    </div>
  </div>
</div>