<script>
 document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('[data-tab]');
    const tables = document.querySelectorAll('.tables');

    tabs.forEach(tab => {
      tab.addEventListener('click', function(e) {
        e.preventDefault();
        const tabId = this.dataset.tab;

        tables.forEach(table => table.classList.add('hidden'));

        const targetTable = document.getElementById(tabId);
        if (targetTable) {
          targetTable.classList.remove('hidden');
        }
      });
    });
 });
</script>

<% flash.each do |key, value| %>
  <div class=" alert alert-<%= key %> text-red-500">
    <%= value %>
  </div>
<% end %>
<div>
  <%= link_to "Sign out", destroy_admin_session_path, method: :delete, data: {  turbo_method: :delete } %>
  <h1 class="font-bold text-4xl">Admin Dashboard</h1>
</div>



<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 mt-20">
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50  focus:text-blue-600 focus:bg-gray-100" data-tab="all-users">All Users</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 focus:text-blue-600 focus:bg-gray-100" data-tab="pending-approval">Pending Approval</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 focus:text-blue-600 focus:bg-gray-100" data-tab="pending-confirmation">Pending Confirmation</a>
    </li>
     <li class="me-2">
        <%= link_to "Create new Trader", new_user_path, class: "inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50" %>
    </li>
</ul>



<div id="all-users" class="tables">
<span class="text-2xl">All Users</span>
<table class="w-full text-sm text-left rtl:text-right">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-5">User ID</th>
      <th scope="col" class="px-6 py-5">Email</th>
      <th scope="col" class="px-6 py-5">Edit Trader</th>
      <th scope="col" class="px-6 py-5">Inspect Trader</th>
      <th scope="col" class="px-6 py-5">Confirmed Trader</th>
      <th scope="col" class="px-6 py-5">Approved for trading</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="px-6 py-4"><%= user.id %></td>
        <td class="px-6 py-4"><%= user.email %></td> 
        <td class="px-6 py-4"><%= link_to 'Edit', edit_user_path(user), method: :get %></td>
        <td class="px-6 py-4"><%= link_to 'Inspect', show_user_path(user), method: :get %></td>
        <td class="px-6 py-4"><%= user.confirmed? %></td>
        <td class="px-6 py-4"><%= user.is_approved? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="pending-approval" class="tables hidden">
<span class="text-2xl">Traders to be approved</span>
  <table class="w-full text-sm text-left rtl:text-right">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-5">User ID</th>
      <th scope="col" class="px-6 py-5">Email</th>
      <th scope="col" class="px-6 py-5">Edit Trader</th>
      <th scope="col" class="px-6 py-5">Inspect Trader</th>
      <th scope="col" class="px-6 py-5">Approved for trading</th>
    </tr>
  </thead>
  
  <tbody>
    <% @to_be_approved.each do |user| %>
      <tr>
        <td class="px-6 py-4"><%= user.id %></td>
        <td class="px-6 py-4"><%= user.email %></td> 
        <td class="px-6 py-4"><%= link_to 'Edit', edit_user_path(user), method: :get %></td>
        <td class="px-6 py-4"><%= link_to 'Inspect', show_user_path(user), method: :get %></td>
        <td class="px-6 py-4"><%= user.is_approved? %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>

<div id="pending-confirmation" class="tables hidden">
<span class="text-2xl">Uncomfirmed Traders</span>
  <table class="w-full text-sm text-left rtl:text-right">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-5">User ID</th>
      <th scope="col" class="px-6 py-5">Email</th>
      <th scope="col" class="px-6 py-5">Edit Trader</th>
      <th scope="col" class="px-6 py-5">Inspect Trader</th>
      <th scope="col" class="px-6 py-5">Approved for trading</th>
    </tr>
  </thead>
  
  <tbody>
    <% @to_be_confirmed.each do |user| %>
      <tr>
        <td class="px-6 py-4"><%= user.id %></td>
        <td class="px-6 py-4"><%= user.email %></td> 
        <td class="px-6 py-4"><%= link_to 'Edit', edit_user_path(user), method: :get %></td>
        <td class="px-6 py-4"><%= link_to 'Inspect', show_user_path(user), method: :get %></td>
        <td class="px-6 py-4"><%= user.is_approved? %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>