<script>
 document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('[data-tab]');
    const tables = document.querySelectorAll('.tables');

    tabs.forEach(tab => {
      tab.addEventListener('click', function(e) {
        e.preventDefault();
        const tabId = this.dataset.tab;

        tables.forEach(table => table.classList.add('hidden'));

        const targetTable = document.getElementById(tabId);
        if (targetTable) {
          targetTable.classList.remove('hidden');
        }
      });
    });
 });
</script>

<div class="bg-[#1e222d] text-slate-200">

<% flash.each do |key, value| %>
  <div class=" alert alert-<%= key %> text-red-500">
    <%= value %>
  </div>
<% end %>
<div class="p-3 mt-2">
  <h1 class="font-sans font-medium text-4xl">Dashboard</h1>
  <h1 class="font-sans font-thin text-xl">Admin</h1>
</div>
<div class="absolute right-0 w-1/2 top-14 mr-0 flex flex-row">
  <div class="relative flex items-start mr-20">
  <span class="font-thin mr-2">All users</span><span  class="text-xl text-orange-400"><%= @users.count %></span>
  </div>
  <div class="realtive flex items-start mr-20">
  <span class="font-thin mr-2">Active</span><span  class="text-xl text-green-400"><%= @active_traders.count %></span>
  </div>
  <div class="relative flex items-start mr-20">
  <span class="font-thin mr-2">Unapproved</span><span  class="text-xl text-blue-400"><%= @to_be_approved.count %></span>
  </div>
  <div class="relative flex items-start mr-20">
  <span class="font-thin mr-2">Uncomfirmed</span><span  class="text-xl text-red-400"><%= @to_be_confirmed.count %></span>
  </div>
  
</div>
<span class="absolute right-3 top-3">
<%= link_to destroy_admin_session_path, method: :delete, data: {  turbo_method: :delete } do %><i class="fa-solid fa-arrow-right-from-bracket text-transparent hover:text-white"></i><% end %>
</span>


<ul class="sticky top-0 flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 mt-4 bg-[#1e222d]">
    <li class="me-2">
        <a href="#" aria-current="page" class="inline-block p-4 rounded-t-lg  hover:text-blue-600 hover:bg-gray-700  focus:text-blue-600 focus:bg-gray-800" data-tab="all-users">All Users</a>
    </li> 
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-blue-600 hover:bg-gray-700  focus:text-blue-600 focus:bg-gray-800" data-tab="pending-approval">Pending Approval</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-blue-600 hover:bg-gray-700  focus:text-blue-600 focus:bg-gray-800" data-tab="pending-confirmation">Pending Confirmation</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-blue-600 hover:bg-gray-700  focus:text-blue-600 focus:bg-gray-800" data-tab="transactions">Transactions</a>
    </li>
     <li class="me-2">
        <%= link_to "Create new Trader", new_user_path, data: { turbo_frame: "modal"}, class: "inline-block p-4 rounded-t-lg hover:text-blue-600 hover:bg-gray-700  focus:text-blue-600 focus:bg-gray-800"%>
    </li>
    
</ul>


<div class="admin-table">
<div id="all-users" class="tables">
<table class="w-full text-sm text-left rtl:text-right">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-5">User ID</th>
      <th scope="col" class="px-6 py-5">Email</th>
      <th scope="col" class="px-6 py-5">Edit Trader</th>
      <th scope="col" class="px-6 py-5">Inspect Trader</th>
      <th scope="col" class="px-6 py-5">Confirmed Trader</th>
      <th scope="col" class="px-6 py-5">Approved for trading</th>
    </tr>
  </thead>


  <tbody >
    <% @users.each do |user| %>
      <tr>
        <td class="px-6 py-4"><%= user.id %></td>
        <td class="px-6 py-4"><%= user.email %></td> 
        <td class="px-6 py-4"><%= link_to edit_user_path(user), method: :get, data: { turbo_frame: "modal"}, class:"pl-6" do %><i class="fa-solid fa-pencil"></i><% end %></td>
        <td class="px-6 py-4"><%= link_to show_user_path(user), method: :get, data: { turbo_frame: "modal"}, class:"pl-10" do %><i class="fa-regular fa-eye"></i><% end %></td>
        <td class="px-6 py-4"><% if user.confirmed? %><span class="text-green-600 pl-10"><i class="fa-solid fa-check"></i></span><% else %><span class="text-red-600 pl-10"><i class="fa-solid fa-x"></i></span><% end %></td>
        <td class="px-6 py-4"><% if user.is_approved? %><span class="text-green-600 pl-12"><i class="fa-solid fa-check"></i></span><% else %><span class="text-red-600 pl-12"><i class="fa-solid fa-x"></i></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>
</div>

<div id="pending-approval" class="tables hidden">
  <table class="w-full text-sm text-left rtl:text-right">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-5">User ID</th>
      <th scope="col" class="px-6 py-5">Email</th>
      <th scope="col" class="px-6 py-5">Edit Trader</th>
      <th scope="col" class="px-6 py-5">Inspect Trader</th>
      <th scope="col" class="px-6 py-5">Approved for trading</th>
    </tr>
  </thead>
  
  <tbody>
    <% @to_be_approved.each do |user| %>
      <tr>
        <td class="px-6 py-4"><%= user.id %></td>
        <td class="px-6 py-4"><%= user.email %></td> 
        <td class="px-6 py-4"><%= link_to edit_user_path(user), method: :get, data: { turbo_frame: "modal"}, class:"pl-6" do %><i class="fa-solid fa-pencil"></i><% end %></td>
        <td class="px-6 py-4"><%= link_to show_user_path(user), method: :get, data: { turbo_frame: "modal"}, class:"pl-10" do %><i class="fa-regular fa-eye"></i><% end %></td>
        <td class="px-6 py-4"><% if user.is_approved? %><span class="text-green-600 pl-10"><i class="fa-solid fa-check"></i></span><% else %><span class="text-red-600 pl-10"><i class="fa-solid fa-check"></i></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>

<div id="pending-confirmation" class="tables hidden">
  <table class="w-full text-sm text-left rtl:text-right">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-5">User ID</th>
      <th scope="col" class="px-6 py-5">Email</th>
      <th scope="col" class="px-6 py-5">Edit Trader</th>
      <th scope="col" class="px-6 py-5">Inspect Trader</th>
      <th scope="col" class="px-6 py-5">Confirmed Trader</th>
    </tr>
  </thead>
  
  <tbody>
    <% @to_be_confirmed.each do |user| %>
      <tr>
        <td class="px-6 py-4"><%= user.id %></td>
        <td class="px-6 py-4"><%= user.email %></td> 
        <td class="px-6 py-4"><%= link_to edit_user_path(user), method: :get, data: { turbo_frame: "modal"}, class:"pl-6" do %><i class="fa-solid fa-pencil"></i><% end %></td>
        <td class="px-6 py-4"><%= link_to show_user_path(user), method: :get, data: { turbo_frame: "modal"}, class:"pl-10" do %><i class="fa-regular fa-eye"></i><% end %></td>
        <td class="px-6 py-4"><% if user.confirmed? %><span class="text-green-600 pl-10"><i class="fa-solid fa-check"></i></span><% else %><span class="text-red-600 pl-10"><i class="fa-solid fa-check"></i></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>

<div id="transactions" class="tables hidden">
  <table class="w-full border border-gray-700">
  <thead class="sticky top-0">
    <tr class="flex flex-row justify-evenly primary-color">
      <th class="w-1/5 py-2">Stock Name</th>
      <th class="w-1/5 py-2">Price</th>
      <th class="w-1/5 py-2">Share/Quantity</th>
      <th class="w-1/5 py-2">Transaction type</th>
      <th class="w-1/5 py-2">Transaction time</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
      <tr class="flex justify-evenly border-t border-gray-700 text-center text-[0.9rem]">
        <td class="w-1/5 py-2"><%= t.stock_name %></td>
        <td class="w-1/5 py-2">USD <%= t.price %></td>
        <td class="w-1/5 py-2"><%= t.share %></td>
        <% if t.is_buy == true %>
          <td class="w-1/5 py-2 text-green-700 font-medium">Buy</td>
        <% else %>
          <td class="w-1/5 py-2 text-red-700 font-medium">Sell</td>
        <% end %>
        <td class="w-1/5 py-2"><%= t.created_at.strftime("%a, %b %d, %Y %I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>