<%= turbo_frame_tag "modal" do%>
<div class=" text-white fixed z-[1] -translate-x-2/4 -translate-y-2/4 overflow-auto bg-[rgba(0,0,0,0.797)] shadow-[0_0_10px_0_rgba(0,0,0,0.2),0_5px_10px_0_rgba(0,0,0,0.19)] p-[2em] rounded-[5px] left-2/4 top-2/4">
  <h1>Create New Trader</h1>
  <div class= "flex flex-col justify-center">
    
  <%= form_with(model: @user, url: create_user_path, data: {turbo_frame: "_top"}) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "text-black m-2" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "text-black m-2" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "text-black m-2" %>
  </div>

    <%= f.submit "Create User", class: 'absolute left-10 bg-gray-400 text-xs text-[white] rounded cursor-pointer float-right no-underline px-2 py-1 border-[none] hover:bg-[#2640fe]'%>
  <% end %>

  </div>
  <%= link_to "Cancel", pages_user_path, data: {
        controller: "modals",
        action: "modals#close"
      }, class: "absolute right-10 bg-gray-400 text-xs text-[white] rounded cursor-pointer float-right no-underline px-2 py-1 border-[none] hover:bg-[#2640fe]" %>
</div>
<% end %>
