<% flash.each do |key, value| %>
  <div class=" alert alert-<%= key %> text-red-500 absolute border border-black inset-0 flex justify-center">
    <%= value %>
  </div>
<% end %>
<div class="border border-blue-900 full-size overflow-hidden">
  <% if user_signed_in? %>
  <div class=" flex justify-between">
    <h1 class="font-bold text-4xl">Trader Dashboard</h1>
    <div class=" relative w-[10%] capitalize text-center">
      <div class="h-[5vh] flex justify-center items-center">
        
           <%= @user.email.split("@")[0]%>
        
        
      </div>
     

      <div class="border border-black absolute w-full">      
           <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {  turbo_method: :delete }, class:"block"%>
          <%= link_to "Edit", edit_user_registration_path , class:"block",  data: { turbo_frame: "modal"} %>
      </div>
     
    </div>
    
  </div>
<div class=" min-w-[100%] h-[65vh] flex">

  <div class=" w-[25%] h-[65vh] text-[0.8rem] center-item flex-col truncate">

    <%= render 'pages/user/market_list' %>
  </div>
  <div class="h-[65vh] w-[50%]">

<%= render 'pages/user/chart' %>

  </div>
  <div class="border border-black w-[25%] center-item flex-col justify-evenly" >

       <%= render 'pages/user/search_form' %>

<%= link_to 'Buy', buy_transaction_path, data: { turbo_frame: "modal"} %>
<%= link_to 'Sell', sell_transaction_path, data: { turbo_frame: "modal"} %>

  </div>
  
</div>

<div class=" max-h-[30vh] overflow-auto p-[1rem]">
  <%= render 'pages/user/transaction_list' %>

</div>
  <%end%>
  

</div>
