<% flash.each do |key, value| %>
  <div class=" alert alert-<%= key %> text-red-500">
    <%= value %>
  </div>
<% end %>
<div class="border border-blue-900">
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {  turbo_method: :delete } %>
    <%= link_to "Edit registration", edit_user_registration_path %>
  <%end%>
  <h1 class="font-bold text-4xl">Trader Dashboard</h1>
  <p>Find me in app/views/pages/users.html.erb</p>
<table>
  <tr>
    <th>Stock Code</th>
    <th>Company Name</th>
    <th>Market Price</th>
    <th>Market cap</th>

  </tr>
   <%@client.stock_market_list(:mostactive).each do |data|%>
   <tr>
    <th><%= data.symbol%></th>
    <th><%= data.company_name%></th>
    <th>$<%= data.iex_realtime_price%></th>
    <th>$<%= data.market_cap%></th>

  </tr>
      <% end %>
  
</table>
     

</div>
