<% flash.each do |key, value| %>
  <div class=" alert alert-<%= key %> text-red-500 ">
    <%= value %>
  </div>
<% end %>
<div class="border border-blue-900 full-size">
  <% if user_signed_in? %>
  <div class="border border-black flex justify-between">
    <h1 class="font-bold text-4xl">Trader Dashboard</h1>
    <div class="border border-black">
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {  turbo_method: :delete } %>
    <%= link_to "Edit registration", edit_user_registration_path %>
    </div>
    
  </div>
 <%= render 'pages/user/dashboard' %>
  <%end%>
  

</div>
