<div class="primary-color text-white full-size overflow-hidden relative">
  <!-- #navbar -->
  <div class=" flex justify-between pt-3">
   <%= render 'pages/user/navbar' %>
  </div>
  <!-- #ticker -->
  <div class="w-full h-[5vh]">
    <%= render 'pages/user/ticker' %>
  </div>
  <!-- #middle container -->
  <div class=" min-w-full max-w-full h-[70vh] flex flex-row">

    <!-- #chart container -->
    <div class="h-[70vh] w-[70%]">
      <div class="h-[70vh] w-full center-item">
        <%= render 'pages/user/chart' %>
      </div>
    </div>
    <!-- #transaction container -->
    <div class="border border-gray-700 w-[30%] h-[70vh] center-item flex-col justify-evenly" >
      <div class="h-[10vh] w-full center-item flex flex-col">
        <div id="error-message" class="text-red-500 hidden text-[0.7rem]">Please select a valid option from the list.</div>
        <%= render 'pages/user/search_form' %>
      </div>
      <div class="h-[60vh] w-full center-item justify-evenly flex-col ">
        <% if current_user.is_approved == true && @symbol.present? && @stock_list.include?(@symbol) == true %>
          <div class="w-full ">
            <%= render 'pages/user/stock_info' %>
          </div>
          <div class="w-full flex flex-row justify-evenly"> 
            <div class="w-[40%] h-[8vh] rounded-lg bg-green-700 center-item text-[1.5rem] uppercase hover:bg-green-500">
              <%= link_to 'Buy', buy_transaction_path, data: { turbo_frame: "modal"}, class: "w-full center-item" %></div>
            <div class="w-[40%] h-[8vh] rounded-lg bg-red-700 center-item text-[1.5rem] uppercase hover:bg-red-500">
              <%= link_to 'Sell', sell_transaction_path, data: { turbo_frame: "modal"}, class: "w-full center-item" %>
            </div>
          </div>
        <% elsif current_user.is_approved == true  && @symbol.present? && @stock_list.include?(@symbol) == false %>
          <div class="w-full">
            <%= render 'pages/user/stock_info' %>
          </div>
          <div class="w-[50%] h-[8vh] rounded-lg bg-green-700 center-item text-[1.5rem] uppercase">
            <%= link_to 'Buy', buy_transaction_path, data: { turbo_frame: "modal"}, class: "w-full center-item" %></div>
        <% elsif !@symbol.present? %>
          <h1 class="text-center text-gray-500 font-bold text-[1.5rem]">"Select the stock to trade."</h1>
        <% else %>
          <h1 class="text-center text-gray-500 font-bold text-[1.5rem] p-4">"To transact, <br>
            kindly authenticate your account first."</h1>
        <% end %>
      </div>
    </div>
  </div>
  <!-- #transactionlist container -->
  <div class=" max-h-[20vh] max-w-full overflow-auto scroll">
    <%= render 'pages/user/transaction_list' %>
  </div>
</div>
