 <%= form_with url: url_for, method: :get, id: "search-form", class: "w-[90%]" do |form| %>
  <div>
    <%= form.text_field :data, list: "datalist-options", placeholder: "search", class: "w-[70%] px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" %>
    <datalist id="datalist-options">
      <% @data.each do |data| %>
        <option value="<%= data.symbol %>"><%= data.name %></option>
      <% end %>
    </datalist>
    <%= form.submit "Search", id: "search-button" %>
  </div>
  
<% end %>