<%= form_with(model: @transaction, url: sell_path, data: {turbo_frame: "_top"}, class: "h-[40vh] flex flex-col justify-between") do |form| %>
<div class="bg-white flex flex-row rounded-md">
   <%= form.text_field :price, placeholder: "price", class: "text-black rounded-md w-[60%] border-none" %> <span class="text-green-700 center-item truncate">USD<%=@price_data%></span>
</div>
 
  <%= form.text_field :share, placeholder: "share amount", class: "text-black rounded-md" %>
  <%= form.text_field :stock_name, placeholder: "stock", value: @symbol, class: "text-black rounded-md" %>
  <%= form.hidden_field :is_buy, value: "false"%>
 <div class="flex flex-row justify-between">
   <%= form.submit "Sell", class: "bg-red-700 h-[5vh] w-[30%] rounded-md" %>
  <%= link_to "Cancel", pages_user_path, data: {
        controller: "modals",
        action: "modals#close"
      }, class: "bg-blue-700 h-[5vh] w-[30%] rounded-md center-item" %>
 </div>
 
<% end %>