<%= form_with url: url_for, method: :get, id: "transaction-form", class: "w-[90%]" do |form| %>
  <div>
    <div class="w-full border-4 border-black">
      <%= form.text_field :buy_amount, placeholder: "Buy amount", class: "w-[40%] border-none " %>
      <span><%=@price_data%> USDT</span>
    </div>
    <%= form.submit "Buy", id: "buy-button" %>
  </div>
  <div>
    <div class="w-full border-4 border-black">
      <%= form.text_field :sell_amount, placeholder: "Sell amount", class: "w-[40%] border-none " %>
      <span><%=@price_data%> USDT</span>
    </div>
    <%= form.submit "Sell", id: "sell-button" %>
  </div>
<% end %>
