<%= form_with url: url_for, method: :get, id: "transaction-form", class: "w-[70%]" do |form| %>
  <div>
    <div class="w-full border border-black flex justify-between items-center rounded-md p-1">
      <%= form.text_field :price, placeholder: "Buy Price", class: "w-[40%] border-none rounded-md placeholder:text-ellipsis" %>
      <span><%=@price_data%> USDT</span>
    </div>
    <%= form.submit "Buy", id: "buy-button" %>
  </div>
  <div>
    <div class="w-full border border-black flex justify-between items-center rounded-md p-1">
      <%= form.text_field :price, placeholder: "Sell Price", class: "w-[40%] border-none rounded-md placeholder:text-ellipsis" %>
      <span><%=@price_data%> USDT</span>
    </div>
    <%= form.submit "Sell", id: "sell-button" %>
  </div>
<% end %>
